<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
    <%= f.label :name, "Portfolio Name" %><br/>
    <%= f.text_field :portfolio_name %>
  </div>
  <div class="field">
    <%= f.label :timeframe, "Description" %><br />
    <%= f.text_field :portfolio_description %>
  </div>
	<div>
		<p>Current Image:</p>
	   <%= image_tag @portfolio.image_url.to_s %>
	</p>
</div>

	<div class="field">
    <%= f.label :image, "Image" %><br/>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
