<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :portfolio_type, :value => params[:portfolio_type]%>
	<div class="field">
    <%= f.label :name, "Project Name" %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time_frame %><br />
    <%= f.text_field :timeframe %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br />
    <%= f.text_area :project_description %>
  </div>
  <div class="actions">
		<% if params[:action] == 'new'%>
  	  <%= submit_tag "Create Project", :portfolio_type => params[:portfolio_type],:class=>"button" %>
		<%else%>
			<%= submit_tag "Update Project", :portfolio_type => params[:portfolio_type], :class=>"button" %>
		<%end%>
  </div>
 <% end %>
