<p id="notice"><%= notice %></p>

<p>
	<b>Title:</b>
  <%= @project.name %>
</p>
<p>
	<b>Time Frame:</b>
   <%= @project.timeframe %>
</p>
<p>
	<b>Location:</b>
   <%= @project.location %>
</p>
<p>
	<b>Project Description</b>
  <%= @project.project_description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
