<tr>
	<td style="color:#08088A">Post Title</td>
	<td style="color:#08088A">Post Content</td>
</tr>

<tr>
	<td style="color:#08088A"><b><%=post.title%></b></td>
	<td style="color:#08088A"><b><%=post.content%></b></td>
</tr>
<tr>
	<td style="color:#08088A">Status:&nbsp;<b><%= post.status%></b></td>
	<td style="color:#08088A">Posted By: <b><%= post.username%></b></td>
</tr>
<% if post.comments.any?%>
	<%#=logger.info("@@@@@Current USER ROLE: #{@current_user}")%>
	<% @comments = post.comments%>
	<%= render 'comments/comments', comments: @comments %>
	<!--tr>
 		<td colspan="2" style="text-align: center"><b><%#= link_to 'Click Here to add a Comment to this post.', new_post_comment_path(post,:project=>p,:portfolio_type=>params[:portfolio_type]), :style=>"color:#08088A" %></b></td>
	</tr-->
	
<%end%>
