<!--registrations-->
<h2>Sign up - registrations/new</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
	<div>
		<b>Role</b> </p>	
		<select name="role" id="role" >
			<option value="nada"></option>
			<option value="guest">Guest</option>
			<option value="admin">Administrator</option>
			<option value="editor">Editor</option>
		</select>
	</div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "users/shared/links" %>
